#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.read-the-docs {
  color: #888;
}
.subject-container{
  padding: 20px;
  border: 1px solid #55464dff;
  border-radius: 10px;
  margin-top: 20px;
  background-color: white;
  min-height: 300px;
  width: 300px;
}
body{
   background-color: rgb(250, 216, 229);
   font-family: 'Times New Roman', Times, serif;
}
h2{
  color: rgb(75, 0, 29);
  text-shadow:0 0 15px rgb(201, 0, 77);
}
.subject-item:hover {
  filter: drop-shadow(0 0 5px rgb(224, 59, 128));
}
.subject-item{
  width: 100%;
  background-color: rgb(255, 194, 217);
  margin-bottom: 15px;
  border-radius: 5px;
  height: 55px;
  align-items: center;
  justify-content: center;
  display: block;
}
